<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El Mundo de Very Mëy</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="Stylesheet" type="text/css" media="screen" href="css/estilos.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="css/imagenes/Logo Very Mëy.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                El Mundo de Very Mëy </a>
        </nav>
    
    
        <div class="container header ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light header">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="producto.html">Productos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="info.html">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    
    </header>

    <section>
        <article>
            <h1 class="titleStyle">Todo lo que necesitas saber!</h1>
            <div class="centrado">
                <p> Una casa que tiene plantas tiene vida propia. Y tenerlas cerca y cuidar de ellas es una de las
                    tareas
                    más bellas. </p>
                <p> Pero para cuidarlas y que vivan felices hay que tener una serie de precauciones y cuidados
                    especiales.
                </p>
                <p> Las plantas no viven únicamente a base de agua.</p>
                <p> Las tres claves para la salud de las plantas son el Sustrato, el Riego y la Iluminación. A
                    continuación
                    te contamos algunas cositas más, a prestar atención!: </p>
            </div>
        </article>
        <article>
            <div class="divCuidado">
                <h2>Cuidados Especiales a tener en cuenta:</h2>
                <ol>
                    <li><a>El Sustrato: es la tierra y los materiales que las contienen y las alimentan. </a></li>
                    <li><a>El Riego: Controlar el riego, evitar que sea excesivo en épocas invernales o de bajas
                            temperaturas. </a></li>
                    <li><a>La Iluminación: controlar la exposicion al sol y a la iluminación artificial.</a></li>
                    <li><a>Drenaje de las macetas y contenedores: prestar especial atención a este tema, para evitar que
                            las
                            raices se encharquen y puedan llegar a pudrirse por exceso de agua. </a></li>
                    <li><a>Crecimiento y Trasplante: observar el crecimiento de cada planta y el tamaño de su
                            contenedor.
                        </a></li>
                </ol>
            </div>
        </article>
    </section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

<footer class="row no-gutters footer">
    <div class="col-sm-10 col-lg-11">
        <p>elmundodeverymey.com &copy; 2019 - Tandil - Buenos Aires - Argentina</p>
    </div>
    <div class="col-sm-2 col-lg-1">
        <a href="https://www.facebook.com/elmundodeverymey" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/elmundodeverymey" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</footer>

</html>