<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El Mundo de Very Mëy</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="screen" href="css/estilos.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="css/imagenes/Logo Very Mëy.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                El Mundo de Very Mëy </a>
        </nav>
    
    
        <div class="container header ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light header">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="home.html">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="producto.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="info.html">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    
    </header>
    <article>
        <h1 class="titleStyle">¿Querés conocer nuestros productos?</h1>
        <div class="centrado">
            <p>En el Mundo de Very Mëy te ofrecemos diferentes productos para que integres la naturaleza a tu
                hogar y a tu vida cotidiana. </p>
            <p> Nuestros productos están inspirados en la naturaleza y pensados para crear espacios felices.</p>
            <p> Terrarios, Kokedamas, Plantitas, Souvenires, Regalos Empresariales, Objetos Reciclados. </p>
            <p> A continuación, te detallamos los productos en stock y los precios y cantidades para compras
                minoristas y/o mayoristas: </p>
        </div>
    </article>

    <div class="card mb-3" style="max-width: 540px d-flex justify-content-center">
        <div class="row no-gutters tarjetaProducto">
            <div class="col-md-4">
                <img src="css/imagenes/Kokedama.png" class="card-img" alt="Planta Kokedama">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Producto Destacado!</h5>
                    <p class="card-text">¿Quieres tener una planta original para decorar tu casa, negocio u oficina?
                        ¿Aún no sabes que regalar para esa ocasión especial? En El Mundo de Very Mëy te traemos este mes
                        una propuesta única
                        perfecta para decorar y regalar. Se trata de las kokedamas, unas plantas que crecen dentro de
                        una bola de musgo y que no necesitan maceta. Se pueden poner sobre la mesa, sobre un trozo de
                        pizarra y piedra o incluso las puedes colgar del techo o de la pared ya que una vez regadas no
                        gotean debido a que el musgo contiene el agua. Aprovecha este mes la super promo de las
                        Kokedamas. Ideales para quedar bien
                        con quien mas queres!!!</p>
                    <p class="card-text"><small class="text-muted">Vigencia de la promo hasta fin de mes!!</small></p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <section class="centrado">
            <div class="table-responsive">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Ingresar producto..." aria-label="Buscar">
                        <a class="btn btn-primary" href="#" role="button" id="buscarBtn" >
                            Buscar
                        </a>
                    </form>
                </nav>
                <table class="table table-bordered tabla" id="tablita">
                    <thead class="tabla thead">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio Minorista</th>
                            <th scope="col">Precio Mayorista</th>
                            <th scope="col">Cantidad Minima p/Mayoristas</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
        
                    <tbody class="tabla-container">
                        
                    </tbody>
                </table>
            </div>
        </section>

        <div class="mensaje alert alert-dismissible fade hide" role="alert">
            <div class="text"></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseSimple" role="button" aria-expanded="true"
                aria-controls="collapseExample">
                Agregar 1 Producto
            </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMultiple"
                aria-expanded="false" aria-controls="collapseExample">
                Agregar varios Productos
            </button>
        </p>
        <div class="collapse show" id="collapseSimple">
            <div class="card card-body">
                <p>Para Agregar Info a la Tabla complete los siguientes campos:</p>
                <div class="row">
                    <input id="_id[0]" class="_id" type="hidden" name="_id[0]" class="form-control" value="" />
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="producto">Descripción Producto</label>
                            <input id="producto[0]" class="producto" type="text" name="producto[0]" class="form-control" value="" required
                                placeholder="Producto" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="pMinorista">Precio Minorista</label>
                            <input id="pMinorista[0]" class="pMinorista" type="text" class="form-control" name="pMinorista[0]" value="" required
                                placeholder="Precio Minorista" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="pMayorista">Precio Mayorista</label>
                            <input id="pMayorista[0]" class="pMayorista" type="text" class="form-control" name="pMayorista[0]" value="" required
                                placeholder="Precio Mayorista" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cantMayor">Cantidad Mínima</label>
                            <input id="cantMayorista[0]" class="cantMayorista" type="text" class="form-control" name="cantMayorista[0]" value="" required
                                placeholder="Cantidad p/Mayorista" />
                        </div>
                    </div>
                </div>

                <div class="collapse" id="collapseMultiple">
                    <div class="">
                        <div class="row">
                            <input id="_id[1]" class="_id" type="hidden" name="_id[1]" class="form-control" value="" />
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="producto">Producto</label>
                                    <input id="producto[1]" class="producto" type="text" name="producto[1]" class="form-control"
                                        value="" required placeholder="Producto" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="pMinorista">Precio Minorista</label>
                                    <input id="pMinorista[1]" class="pMinorista" type="text" class="form-control" name="pMinorista[1]"
                                        value="" required placeholder="Precio Minorista" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="pMayorista">Precio Mayorista</label>
                                    <input id="pMayorista[1]" class="pMayorista" type="text" class="form-control" name="pMayorista[1]"
                                        value="" required placeholder="Precio Mayorista" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cantMayor">Cantidad Mínima</label>
                                    <input id="cantMayorista[1]" class="cantMayorista" type="text" class="form-control"
                                        name="cantMayorista[1]" value="" required placeholder="Cantidad p/Mayorista" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input id="_id[2]" class="_id" type="hidden" name="_id[2]" class="form-control" value="" />
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="producto">Producto</label>
                                    <input id="producto[2]" class="producto" type="text" name="producto[2]" class="form-control"
                                        value="" required placeholder="Producto" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="pMinorista">Precio Minorista</label>
                                    <input id="pMinorista[2]" class="pMinorista" type="text" class="form-control" name="pMinorista[2]"
                                        value="" required placeholder="Precio Minorista" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="pMayorista">Precio Mayorista</label>
                                    <input id="pMayorista[2]" class="pMayorista" type="text" class="form-control" name="pMayorista[2]"
                                        value="" required placeholder="Precio Mayorista" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cantMayor">Cantidad Mínima</label>
                                    <input id="cantMayorista[2]" class="cantMayorista" type="text" class="form-control"
                                        name="cantMayorista[2]" value="" required placeholder="Cantidad p/Mayorista" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input id="_id[3]" class="_id" type="hidden" name="_id[3]" class="form-control" value="" />
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="producto">Producto</label>
                                    <input id="producto[3]" class="producto" type="text" name="producto[3]" class="form-control" value=""
                                        required placeholder="Producto" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="pMinorista">Precio Minorista</label>
                                    <input id="pMinorista[3]" class="pMinorista" type="text" class="form-control" name="pMinorista[3]" value=""
                                        required placeholder="Precio Minorista" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="pMayorista">Precio Mayorista</label>
                                    <input id="pMayorista[3]" class="pMayorista" type="text" class="form-control" name="pMayorista[3]" value=""
                                        required placeholder="Precio Mayorista" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cantMayor">Cantidad Mínima</label>
                                    <input id="cantMayorista[3]" class="cantMayorista" type="text" class="form-control" name="cantMayorista[3]"
                                        value="" required placeholder="Cantidad p/Mayorista" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="float:right;">
                            <button type="submit" class="btn btn-primary" id="js-guardar">Guardar</button>
                            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseSimple"
                                aria-expanded="false">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="resultado"> </div>
               
        </article>
    </div>

    <footer class="row no-gutters footer">
        <div class="col-sm-10 col-lg-11">
            <p>elmundodeverymey.com &copy; 2019 - Tandil - Buenos Aires - Argentina</p>
        </div>
        <div class="col-sm-2 col-lg-1">
            <a href="https://www.facebook.com/elmundodeverymey" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/elmundodeverymey" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </footer>

    <script src="js/cargarTabla.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

</body>
</html>